# Lab 12 - Data Analysis
## DataSet: Video Game Sales - Sales data from more than 16,500 games
### 07/08/2020 by _Leo Kukharau_

In [1]:
import pandas as pd
import numpy as np

In [2]:
games_df = pd.read_csv('data_analysis/data/vgsales.csv')

In [3]:
games_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

#### Which company is the most common video game publisher?

In [4]:
all_publishers = games_df['Publisher'].value_counts()
most_common_publisher = all_publishers.index[0]
print(f'The most common video publisher is {most_common_publisher}')

The most common video publisher is Electronic Arts

#### What’s the most common platform?

In [5]:
all_platforms = games_df['Platform'].value_counts()
most_common_platform = all_platforms.index[0]
print(f'The most common video platform is {most_common_platform}')

The most common video platform is DS

#### What about the most common genre?

In [6]:
all_genres = games_df['Genre'].value_counts()
most_common_genre = all_genres.index[0]
print(f'The most common video genre is {most_common_genre}')

The most common video genre is Action

#### What are the top 20 highest grossing games?

In [7]:
sorted_games = games_df.sort_values(by='Global_Sales', ascending=False)
sorted_games.set_index('Name', inplace=True)
top_twenty_highest_grossing_games = sorted_games.iloc[:20, 9]

print('The top 20 grossing games:')
top_twenty_highest_grossing_games

The top 20 grossing games:

Name
Wii Sports                                      82.74
Super Mario Bros.                               40.24
Mario Kart Wii                                  35.82
Wii Sports Resort                               33.00
Pokemon Red/Pokemon Blue                        31.37
Tetris                                          30.26
New Super Mario Bros.                           30.01
Wii Play                                        29.02
New Super Mario Bros. Wii                       28.62
Duck Hunt                                       28.31
Nintendogs                                      24.76
Mario Kart DS                                   23.42
Pokemon Gold/Pokemon Silver                     23.10
Wii Fit                                         22.72
Wii Fit Plus                                    22.00
Kinect Adventures!                              21.82
Grand Theft Auto V                              21.40
Grand Theft Auto: San Andreas                   20.81
Super Mario World                               20.61
Brain Age: Train Your Brain in Minutes a Day    20.22
Name: Global_Sales, dtype: float64

#### For North American video game sales, what’s the median?

In [8]:
na_median_sales = games_df['NA_Sales'].median()
f'The median for NA video game sales is {na_median_sales}'

'The median for NA video game sales is 0.08'

#### Provide a secondary output showing ten games surrounding the median sales output

In [9]:
sorted_games_na_sales = games_df.sort_values(by='NA_Sales', ascending=False)
median_idx = len(games_df) // 2
ten_median_na_seller_names = sorted_games_na_sales.iloc[median_idx - 5 : median_idx + 5, [1, 6]]
ten_median_na_seller_names

                                                   Name  NA_Sales
10802                Bladestorm: The Hundred Years' War      0.08
9569                              Batman: Arkham Knight      0.08
8550      Wakeboarding Unleashed Featuring Shaun Murray      0.08
10799                                         Mind Quiz      0.08
9197                       The Walking Dead: Season Two      0.08
9192                                      Dino Crisis 3      0.08
10181                              Smash Court Tennis 3      0.08
8802   Disney's The Lion King: Simba's Mighty Adventure      0.08
8724                                             Driven      0.08
10793                                      Glory Days 2      0.08

#### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [10]:
# Top selling game:
top_selling_game = sorted_games[:1]
top_selling_game

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [11]:
# Finding the mean for Notrh American Sales
na_sales_mean = games_df['NA_Sales'].mean()

# Standart Deviation for NA sales:
na_sales_std = games_df['NA_Sales'].std()

# How many std top selling game is above/below the mean: (top_selling_game - mean) / std
number_of_std = (top_selling_game['NA_Sales'] - na_sales_mean) / na_sales_std
f'The top selling game is {round(number_of_std[0], 2)} standart deviations above the mean'

'The top selling game is 50.48 standart deviations above the mean'

#### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [12]:
nintendo_vs_others = games_df.groupby('Platform')['Global_Sales'].apply(np.mean).sort_index()
nintendo_vs_others

Platform
2600    0.729925
3DO     0.033333
3DS     0.486169
DC      0.307115
DS      0.380254
GB      2.606633
GBA     0.387470
GC      0.358561
GEN     1.050370
GG      0.040000
N64     0.686144
NES     2.561939
NG      0.120000
PC      0.269604
PCFX    0.030000
PS      0.610920
PS2     0.581046
PS3     0.720722
PS4     0.827679
PSP     0.244254
PSV     0.149952
SAT     0.194162
SCD     0.311667
SNES    0.837029
TG16    0.080000
WS      0.236667
Wii     0.699404
WiiU    0.572448
X360    0.774672
XB      0.313422
XOne    0.662254
Name: Global_Sales, dtype: float64

In [13]:
# Double-checking the data above
sales_sum = games_df.groupby('Platform')['Global_Sales'].apply(sum).sort_index()
sales_number = games_df['Platform'].value_counts().sort_index()

[round(sum / sales_number[i], 6) for i, sum in enumerate(sales_sum)]

[0.729925,
 0.033333,
 0.486169,
 0.307115,
 0.380254,
 2.606633,
 0.38747,
 0.358561,
 1.05037,
 0.04,
 0.686144,
 2.561939,
 0.12,
 0.269604,
 0.03,
 0.61092,
 0.581046,
 0.720722,
 0.827679,
 0.244254,
 0.149952,
 0.194162,
 0.311667,
 0.837029,
 0.08,
 0.236667,
 0.699404,
 0.572448,
 0.774672,
 0.313422,
 0.662254]

#### What's the top sales for a game within each genre

In [14]:
top_sales_by_genre = games_df.groupby('Genre')['Global_Sales'].max()
top_sales_by_genre

Genre
Action          21.40
Adventure       11.18
Fighting        13.04
Misc            29.02
Platform        40.24
Puzzle          30.26
Racing          35.82
Role-Playing    31.37
Shooter         28.31
Simulation      24.76
Sports          82.74
Strategy         5.45
Name: Global_Sales, dtype: float64

#### What's the oldest game with global sales above average

In [15]:
avg_sales = games_df['Global_Sales'].mean()
sorted_games = games_df.sort_values(by='Year')
filt_above_avg = sorted_games['Global_Sales'] > avg_sales
oldest_game_with_sales_above_avg = sorted_games[filt_above_avg][:1]
oldest_game_with_sales_above_avg

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2669,2671,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

#### Which games were selling better in Europe than in the US?

In [16]:
filt_better_in_europe = games_df['EU_Sales'] > games_df['NA_Sales']
games_df[filt_better_in_europe]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
27,28,Brain Age 2: More Training in Minutes a Day,DS,2005.0,Puzzle,Nintendo,3.44,5.36,5.32,1.18,15.30
33,34,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
...,...,...,...,...,...,...,...,...,...,...,...
16576,16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.00,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

### TESTS

In [18]:
def test():

    def assert_equal(actual, expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(list(top_twenty_highest_grossing_games), [82.74, 40.24, 35.82, 33.00, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31, 24.76, 23.42, 23.10, 22.72, 22.00, 21.82, 21.40, 20.81, 20.61, 20.22])
    assert_equal(na_median_sales, 0.08)
    assert_equal(list(ten_median_na_seller_names.Name), ["Bladestorm: The Hundred Years' War",
                                             'Batman: Arkham Knight',
                                             'Wakeboarding Unleashed Featuring Shaun Murray',
                                             'Mind Quiz',
                                             'The Walking Dead: Season Two',
                                             'Dino Crisis 3',
                                             'Smash Court Tennis 3',
                                             "Disney's The Lion King: Simba's Mighty Adventure",
                                             'Driven',
                                             'Glory Days 2'])
    assert_equal(round(number_of_std[0], 2), 50.48)
    assert_equal(list(nintendo_vs_others), [0.7299248120300751,
                                     0.03333333333333333,
                                     0.4861689587426326,
                                     0.30711538461538457,
                                     0.3802542764678687,
                                     2.6066326530612245,
                                     0.38746958637469586,
                                     0.35856115107913666,
                                     1.0503703703703704,
                                     0.04,
                                     0.6861442006269592,
                                     2.561938775510204,
                                     0.12000000000000001,
                                     0.26960416666666664,
                                     0.03,
                                     0.6109197324414716,
                                     0.5810458121240166,
                                     0.7207223476297968,
                                     0.8276785714285715,
                                     0.24425391591096457,
                                     0.14995157384987898,
                                     0.1941618497109827,
                                     0.3116666666666667,
                                     0.8370292887029289,
                                     0.08,
                                     0.23666666666666666,
                                     0.6994037735849057,
                                     0.5724475524475525,
                                     0.7746719367588933,
                                     0.31342233009708736,
                                     0.6622535211267606])
    assert_equal(list(top_sales_by_genre), [21.4, 11.18, 13.04, 29.02, 40.24, 30.26, 35.82, 31.37, 28.31, 24.76, 82.74, 5.45])
    assert_equal(oldest_game_with_sales_above_avg.iloc[0].Name, 'Boxing')
    
    
    print("Success!!!")

test()

Success!!!